{
	"AWSTemplateFormatVersion" : "2010-09-09",

	"Description" : "Create a new micro EC2 ecs-optimized instance to test out UserData and MetaData settings of the cor-main app",

	"Parameters" : {
		"EC2InstanceType" : {
		    "Type" : "String",
            "AllowedValues" : [ "t2.nano", "t2.micro", "t2.small", "t2.medium", "t2.large", "t2.xlarge" ],
            "Default" : "t2.micro"
		},
		"Landscape" : {
			"Description": "Specify which landscape to build into the VPC",
			"Type": "String",
			"AllowedValues" : [ "sb", "ci", "qa", "stg", "prod" ],
			"ConstraintDescription" : "This parameter is restricted to the following values: sb, ci, qa, stg, prod",
			"Default" : "sb"
		},
		"ConfigBucket" : {
            "Type" : "String",
			"Description" : "The S3 bucket where our config files, keys, etc. are stored",
			"Default" : "kuali-research-ec2-setup"
        }
	},

    "Metadata" : {
		"NOTES-1" : "To get the ec2 instance into the BU VPC, add the following to MyMicro.Properties: \"SubnetId\" : \"subnet-61377139\","
	},

	"Resources" : {
		"MyMicro" : {
			"Type" : "AWS::EC2::Instance",
            "Description" : "Micro instance for testing UserData and MetaData settings.",
			"Properties" : {
				"Tags" : [ { "Key" : "Name", "Value" : "buaws-wrh-ecs-ec2-test1" } ],
				"ImageId" : "ami-00129b193dc81bc31",
				"InstanceType" : { "Ref" : "EC2InstanceType" },
                "SecurityGroups" : [ { "Ref" : "MyMicroSecurityGroup" } ],
				"KeyName" : "buaws-kuali-rsa-warren",
                "IamInstanceProfile" : { "Ref" : "MyMicroProfile" },
                "UserData" : { "Fn::Base64" : { "Fn::Join" : [ "\n", [
					"#!/bin/bash",
					"yum install -y https://s3.amazonaws.com/ec2-downloads-windows/SSMAgent/latest/linux_amd64/amazon-ssm-agent.rpm",
					"yum install -y aws-cfn-bootstrap",
					"yum install -y git",
					"",
					"# Modify the sudoers file so that anyone in the wheel group can be a sudoer",
					"chmod u+w /etc/sudoers && \\",
					"echo -e \"%wheel\\tALL=(ALL)\\tNOPASSWD: ALL\" >> /etc/sudoers && \\",
					"chmod u-w /etc/sudoers && \\",
					"",
					"# NOTE: Creating users here and not in Metadata.AWS::CloudFormation::Init.config.users due to restrictions: ",
					"# \"Users are created as non-interactive system users with a shell of /sbin/nologin. This is by design and cannot be modified.\"",
					"users=(wrh mukadder dhaywood mkousheh)",
					"for user in ${users[@]}; do",
					"   adduser -m $user && \\",
					"   usermod -aG root $user && \\",
					"   usermod -aG docker $user && \\",
					"   usermod -aG wheel $user && \\",
					"   mkdir /home/$user/.ssh && \\",
					"   chmod 700 /home/$user/.ssh && \\",
					"   chown -R $user:$user /home/$user",
					"done",
					"",
					"# Implement all the metadata in AWS::CloudFormation::Init",
					"/opt/aws/bin/cfn-init \\",
					"   -v \\",
					"   --configsets AllConfigs \\",
					{ "Fn::Sub" : "   --region ${AWS::Region} \\" },
					{ "Fn::Sub" : "   --stack ${AWS::StackName} \\" },
					"   --resource MyMicro"
				]]}}
			},
            "Metadata" : {
				"AWS::CloudFormation::Authentication": {
                    "S3AccessCreds": {
                        "type": "S3",
                        "roleName": {
                            "Ref": "MyMicroS3Role"
                        },
						"buckets" : [ { "Ref" : "ConfigBucket" } ]
                    }
                },
				"AWS::CloudFormation::Init" : {
					"configSets" : {
						"AllConfigs" : [ "getFiles", "runCommands" ],
						"OnlyCommands" : [ "runCommands" ]
					}, 
					"getFiles" : {
						"packages" : {
							"yum" : {
								"awslogs" : []
							}
						},
						"files" : {
							"/home/wrh/.ssh/authorized_keys" : {
								"mode" : "000600",
								"owner" : "wrh",
								"group" : "wrh",
								"source" : { "Fn::Sub" : "https://s3.amazonaws.com/${ConfigBucket}/ecs/ssh-keys/rsa-key-wrh.pub" }
							},
							"/home/mkousheh/.ssh/authorized_keys" : {
								"mode" : "000600",
								"owner" : "mkousheh",
								"group" : "mkousheh",
								"source" : { "Fn::Sub" : "https://s3.amazonaws.com/${ConfigBucket}/ecs/ssh-keys/rsa-key-mkousheh.pub" }
							},
							"/home/mukadder/.ssh/authorized_keys" : {
								"mode" : "000600",
								"owner" : "mukadder",
								"group" : "mukadder",
								"source" : { "Fn::Sub" : "https://s3.amazonaws.com/${ConfigBucket}/ecs/ssh-keys/rsa-key-mukadder.pub" }
							},
							"/home/dhaywood/.ssh/authorized_keys" : {
								"mode" : "000600",
								"owner" : "dhaywood",
								"group" : "dhaywood",
								"source" : { "Fn::Sub" : "https://s3.amazonaws.com/${ConfigBucket}/ecs/ssh-keys/rsa-key-dhaywood.pub" }
							},
							"/var/kuali/README.txt" : {
								"content" : { "Fn::Join" : [ "\n", [
									"This directory contains the \"environment\" for each app to run in a docker container that it needs.",
									"This includes env-file, configuration files, keys, etc.",
                                    { "Fn::Sub" : "These are specific to the ${Landscape} landscape." }
								]]},
								"mode" : "000775",
								"owner" : "root",
								"group" : "root"
							},
							"/root/.ssh/git_rsa_key" : {
								"source" : "https://s3.amazonaws.com/kuali-research-ec2-setup/bu_github_id_docker_rsa",
								"mode" : "000600",
								"owner" : "root",
								"group" : "root"
							},
							"/var/kuali/scripts/s3.download.configs.sh" : {
								"content" : { "Fn::Join" : [ "\n", [
									"#!/bin/bash",
									"",
									"echo \"Downloading all configurations for the container from the s3 bucket\"",
									"[ ! -d /var/kuali/s3 ] && mkdir /var/kuali/s3",
									"cd /var/kuali/s3",
									"aws s3 sync --delete s3://kuali-research-ec2-setup/${LANDSCAPE}/ ."
								]]},
								"mode" : "000775",
								"owner" : "root",
								"group" : "root"
							},
							"/var/kuali/scripts/git.download.docker.scripts.sh" : {
								"content" : { "Fn::Join" : [ "\n", [
									"#!/bin/bash",
									"",
									"# Download the master branch of the docker git repository into a \"docker\" subdirectory",
									"if [ ! -d /var/kuali/docker ] ; then",
									"  mkdir /var/kuali/docker",
									"  cd /var/kuali/docker",
									"  git init",
									"  git remote add github git@github.com:bu-ist/kuali-research-docker.git",
									"else",
									"  cd /var/kuali/docker",
									"fi",
									"",
									"if [ -n \"$(git status -s -z)\" ] ; then",
									"  echo \"Git Pull: Found local changes! Sorry, these changes will be lost.\"",
									"fi",
									"",
									"if [ ! -f ~/.ssh/known_hosts ] || [ -z \"$(cat ~/.ssh/known_hosts | grep 'github.com')\" ] ; then",
									"  ssh-keyscan -t rsa github.com >> ~/.ssh/known_hosts",
									"fi",
									"",
									"echo \"Fetching from upstream and performing hard reset\"",
									"eval `ssh-agent -s`",
									"ssh-add ~/.ssh/git_rsa_key",
									"git fetch github master",
									"git reset --hard FETCH_HEAD",
									"eval `ssh-agent -k`"
								]]},
								"mode" : "000775",
								"owner" : "root",
								"group" : "root"
							},
							"/var/kuali/scripts/process.env.file.sh" : {
								"content" : { "Fn::Join" : [ "\n", [
									"#!/bin/bash",
									"",
									"# Turn a name=value line into an \"export name=value\" line",
									"getLineExport() {",
									"  local line=$(echo -n \"$1\" | xargs) # Use xargs to trim the line.",
									"  # Return and empty string if the line is a properties file comment", 
									"  [ \"${line:0:1}\" == \"#\" ] && echo \"\" && exit 0;",
									"  [ -z \"$line\" ] && echo \"\" && exit 0;",
									"  echo \"export $line\"",
									"}",
									"",
									"# Export all environment variables in the mounted directory before starting node",
									"if [ ! -f $ENV_FILE_FROM_S3 ] ; then",
									"  echo \"ERROR! MISSING $ENV_FILE_FROM_S3\"",
									"  exit 1",
									"elif [ ! -d $DOCKER_BUILD_CONTEXT ] ; then",
									"  echo \"ERROR! MISSING config directory: $DOCKER_BUILD_CONTEXT\"",
									"  exit 1",
									"else",
									"  echo \"Exporting environment variables...\"",
									"  rm -f $DOCKER_BUILD_CONTEXT/exports.sh",
									"  while read line ; do",
									"    expline=\"$(getLineExport \"$line\")\" &&",
									"    [ -n \"$expline\" ] &&",
									"    echo \"Setting env var $(echo \"$expline\" | cut -f1 -d '=')\" &&",
									"    echo \"$expline\" >> $DOCKER_BUILD_CONTEXT/exports.sh",
									"  done < $ENV_FILE_FROM_S3",
									"fi",
									"",
									"exit 0"
								]]},
								"mode" : "000775",
								"owner" : "root",
								"group" : "root"
							}
						},
						"/var/kuali/scripts/start.app.sh" : {
							"content" : { "Fn::Join" : [ "\n", [
									"#!/bin/bash",
									"",
									""
								]]},
								"mode" : "000775",
								"owner" : "root",
								"group" : "root"
						}
					},
					"runCommands" : {
						"commands" : {
							"01_get_configs_from_s3" : {
								"cwd" : "/var/kuali/scripts",
								"env" : {
									"LANDSCAPE" : { "Fn::Sub" : "${Landscape}" }
								},
								"command" : "bash s3.download.configs.sh"
							},
							"02_get_docker_scripts_from_github" : {
								"cwd" : "/var/kuali/scripts",
								"command" : "bash git.download.docker.scripts.sh"
							},
							"03_create_env_exports_file" : {
								"cwd" : "/var/kuali/scripts",
								"env" : {
									"ENV_FILE_FROM_S3" : "/var/kuali/s3/core/environment.variables.s3",
									"DOCKER_BUILD_CONTEXT" : "/var/kuali/docker/core/build.context"
								},
								"command" : "bash process.env.file.sh"
							},
							"04_docker_run_container" : {
								"cwd" : "/var/kuali/docker/core/build.context",
								"env" : {
									"CORE_HOST" : "",
									"LANDSCAPE" : { "Fn::Sub" : "${Landscape}" },
									"RSYNC" : "true",
									"ROOT_DIR" : "/var/kuali/docker/core/build.context",
									"RENEW_CONFIGS" : "false",
									"INTERACTIVE" : "false"
								},
								"command" : "echo \"TODO: collect the right parameters and invoke docker.sh\""
							}
						}
					}
				}
			}
		},
        "MyMicroSecurityGroup" : {
            "Type" : "AWS::EC2::SecurityGroup",
            "Properties" : {
				"GroupDescription" : "Warrens security group for a test t2.micro ec2 instance",
                "GroupName" : "WarrensT2.micro.SG",
                "Tags" : [ { "Key" : "Name", "Value" : "buaws-wrh-ecs-ec2-test1.SG" } ],
                "SecurityGroupIngress" : [
					{
						"IpProtocol" : "tcp",
                        "FromPort" : "22",
                        "ToPort" : "22",
                        "CidrIp" : "0.0.0.0/0"
					},
					{
						"IpProtocol" : "tcp",
                        "FromPort" : "80",
                        "ToPort" : "80",
                        "CidrIp" : "0.0.0.0/0"
					}
				]
            }
        },
		"MyMicroProfile" : {
			"Type": "AWS::IAM::InstanceProfile",
            "Properties" : {
				"InstanceProfileName" : "Profile-for-MyMicroS3Role",
                "Path" : "/",
                "Roles" : [ { "Ref" : "MyMicroS3Role" } ]
			}
		},
		"MyMicroS3Role" : {
		    "Type" : "AWS::IAM::Role",
		    "Properties" : {
				"RoleName" : "MyMicroS3Role",
		        "AssumeRolePolicyDocument" : {
					"Statement": [{
						"Effect" : "Allow",
						"Principal" : {
							"Service" : [ "ec2.amazonaws.com" ]
						},
                        "Action" : [ "sts:AssumeRole" ]
					}]
		        },
                "Path" : "/",
                "ManagedPolicyArns" : [
					"arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
				]
		    }
		}
	},

	"Outputs" : {
		"PrivateIP" : {
		    "Value" : {"Fn::GetAtt" : [ "MyMicro", "PrivateIp"]}
		},
		"PublicIP" : {
		    "Value" : {"Fn::GetAtt" : [ "MyMicro", "PublicIp"]}
		}
	}
}
