{
	"AWSTemplateFormatVersion" : "2010-09-09",

	"Description" : "Creates 2 roles, one the ec2 instance running jenkins is to assume, and one for each ec2 instance acting as a host for any kuali application.",

	"Parameters" : {
	},

	"Resources" : {

		"KualiEC2JenkinsRole" : {
		    "Type" : "AWS::IAM::Role",
            "DeletionPolicy" : "Retain",
            "Description" : "The Role the EC2 instance Jenkins is running on is to assume. The aws api calls the policy allows that are made on this instance should not require credentials",
		    "Properties" : {
				"Path" : "/",
                "RoleName" : "kuali-ec2-jenkins-role",
		        "AssumeRolePolicyDocument" : {
					"Statement" : [{
						"Action" : [ "sts:AssumeRole" ],
						"Effect" : "Allow",
						"Principal" : { "Service" : [ "ec2.amazonaws.com" ] }
					}]
		        },
				"ManagedPolicyArns" : [
					"arn:aws:iam::aws:policy/AmazonEC2ContainerRegistryFullAccess"
				],
                "Policies" : [
					{
						"PolicyName" : "kuali-ec2-jenkins-policy",
                        "PolicyDocument" : {                        
							"Statement" : [{
								"Effect" : "Allow",
								"Resource" : "*",
								"Action" : [
									"ssm:GetParameters",
									"ssm:CancelCommand",
									"ssm:GetCommandInvocation",
									"ssm:ListCommandInvocations",
									"ssm:ListCommands",
									"ssm:SendCommand",
									"ec2messages:AcknowledgeMessage",
									"ec2messages:DeleteMessage",
									"ec2messages:FailMessage",
									"ec2messages:GetEndpoint",
									"ec2messages:GetMessages",
									"ec2messages:SendReply",
									"cloudwatch:PutMetricData",
									"ec2:DescribeInstanceStatus"
								]
							},
							{
								"Effect" : "Allow",
								"Resource" : "arn:aws:s3:::kuali-research-ec2-setup",
								"Action" : [
									"s3:PutObject",
									"s3:Get*",
									"s3:List*"
								]
							},
							{
								"Effect": "Allow",
								"Action": "iam:PassRole",
								"Resource": "*",
								"Condition": {
									"StringEquals": {
										"iam:PassedToService": [
											"ssm.amazonaws.com"
										]
									}
								}
							}]
						}
					}
				]
		    }
		},
        "KualiEC2JenkinsInstanceProfile" : {
            "Type" : "AWS::IAM::InstanceProfile",
            "Properties" : {
				"InstanceProfileName" : "kuali-ec2-jenkins-instance-profile",
                "Roles" : [ { "Ref" : "KualiEC2JenkinsRole" } ]
            }
        },

        "KualiEC2AppHostRole" : {
            "Type" : "AWS::IAM::Role",
            "Description" : "The Role the EC2 instances on which are running any kuali applications are to assume. The aws api calls the policy allows that are made on these instances should not require credentials",
            "DeletionPolicy" : "Retain",
		    "Properties" : {
				"Path" : "/",
                "RoleName" : "kuali-ec2-apphost-role",
		        "AssumeRolePolicyDocument" : {
					"Statement" : [{
						"Action" : [ "sts:AssumeRole" ],
						"Effect" : "Allow",
						"Principal" : { "Service" : [ "ec2.amazonaws.com" ] }
					}]
		        },
				"ManagedPolicyArns" : [
					"arn:aws:iam::aws:policy/AmazonEC2ContainerRegistryReadOnly"
				],
                "Policies" : [
					{
						"PolicyName" : "kuali-ec2-apphost-policy",
                        "PolicyDocument" : {                        
							"Statement" : [{
								"Effect": "Allow",
								"Action": [
									"logs:CreateLogGroup",
									"logs:CreateLogStream",
									"logs:DescribeLogGroups",
									"logs:DescribeLogStreams",
									"logs:PutLogEvents"
								],
								"Resource": "*"
							},
							{
								"Effect" : "Allow",
								"Resource" : "arn:aws:s3:::kuali-research-ec2-setup",
								"Action" : [
									"s3:PutObject",
									"s3:Get*",
									"s3:List*"
								]
							}]
						}
					}
				]
		    }
        },
        "KualiEC2AppHostProfile" : {
            "Type" : "AWS::IAM::InstanceProfile",
            "Properties" : {
				"InstanceProfileName" : "kuali-ec2-apphost-instance-profile",
                "Roles" : [ { "Ref" : "KualiEC2AppHostRole" } ]
            }
        }
	},


	"Outputs" : {
		"KualiEC2JenkinsRole" : {
			"Description" : "The Amazon Resource Name for the Role the EC2 instance Jenkins is running on is to assume.",
		    "Value" : { "Fn::GetAtt" : [ "KualiEC2JenkinsRole", "Arn"] }
		},
        "KualiEC2AppHostRole" : {
            "Value" : { "Fn::GetAtt" : [ "KualiEC2AppHostRole", "Arn"] },
            "Description" : "The Amazon Resource Name for the Role each kuali application host (ec2 instance) is to assume."
        }
	}
}
