{
	"AWSTemplateFormatVersion" : "2010-09-09",

	"Description" : "Create a new micro EC2 ecs-optimized instance to test out UserData and MetaData settings",

	"Parameters" : {
		"EC2InstanceType" : {
		    "Type" : "String",
            "AllowedValues" : [ "t2.nano", "t2.micro", "t2.small", "t2.medium", "t2.large", "t2.xlarge" ],
            "Default" : "t2.micro"
		},
		"Landscape" : {
			"Description": "Specify which landscape to build into the VPC",
			"Type": "String",
			"AllowedValues" : [ "sb", "ci", "qa", "stg", "prod" ],
			"ConstraintDescription" : "This parameter is restricted to the following values: sb, ci, qa, stg, prod",
			"Default" : "sb"
		},
		"ConfigBucket" : {
            "Type" : "String",
			"Description" : "The S3 bucket where our config files, keys, etc. are stored",
			"Default" : "kuali-research-ec2-setup"
        }
	},

    "Metadata" : {
		"NOTES-1" : "To get the ec2 instance into the BU VPC, add the following to MyMicro.Properties: \"SubnetId\" : \"subnet-61377139\","
	},

	"Resources" : {
		"MyMicro" : {
			"Type" : "AWS::EC2::Instance",
            "Description" : "Micro instance for testing UserData and MetaData settings.",
			"Properties" : {
				"Tags" : [ { "Key" : "Name", "Value" : "buaws-wrh-ecs-ec2-test1" } ],
				"ImageId" : "ami-00129b193dc81bc31",
				"InstanceType" : { "Ref" : "EC2InstanceType" },
                "SecurityGroups" : [ { "Ref" : "MyMicroSecurityGroup" } ],
				"KeyName" : "buaws-kuali-rsa-warren",
                "IamInstanceProfile" : { "Ref" : "MyMicroProfile" },
                "UserData" : { "Fn::Base64" : { "Fn::Join" : [ "\n", [
					"#!/bin/bash",
					"yum install -y https://s3.amazonaws.com/ec2-downloads-windows/SSMAgent/latest/linux_amd64/amazon-ssm-agent.rpm",
					"yum install -y aws-cfn-bootstrap",
					"",
					"# NOTE: Creating users here and not in Metadata.AWS::CloudFormation::Init.config.users due to restrictions: ",
					"# \"Users are created as non-interactive system users with a shell of /sbin/nologin. This is by design and cannot be modified.\"",
					"users=(wrh mukadder dhaywood mkousheh)",
					"for user in ${users[@]}; do",
					"   adduser -m $user && \\",
					"   usermod -aG root $user && \\",
					"   usermod -aG docker $user && \\",
					"   mkdir /home/$user/.ssh && \\",
					"   chmod 700 /home/$user/.ssh",
					"done",
					"",
					"# Implement all the metadata in AWS::CloudFormation::Init",
					"/opt/aws/bin/cfn-init \\",
					"   -v \\",
					"   --configsets AllConfigs \\",
					{ "Fn::Sub" : "   --region ${AWS::Region} \\" },
					{ "Fn::Sub" : "   --stack ${AWS::StackName} \\" },
					"   --resource MyMicro"
				]]}}
			},
            "Metadata" : {
				"AWS::CloudFormation::Authentication": {
                    "S3AccessCreds": {
                        "type": "S3",
                        "roleName": {
                            "Ref": "MyMicroS3Role"
                        },
						"buckets" : [ { "Ref" : "ConfigBucket" } ]
                    }
                },
				"AWS::CloudFormation::Init" : {
					"configSets" : {
						"AllConfigs" : [ "getFiles", "runCommands" ]
					}, 
					"getFiles" : {
						"packages" : {
							"yum" : {
								"awslogs" : []
							}
						},
						"files" : {
							"/home/wrh/.ssh/authorized_keys" : {
								"mode" : "000600",
								"owner" : "wrh",
								"group" : "wrh",
								"source" : { "Fn::Sub" : "https://s3.amazonaws.com/${ConfigBucket}/ecs/ssh-keys/rsa-key-wrh.pub" }
							},
							"/home/mkousheh/.ssh/authorized_keys" : {
								"mode" : "000600",
								"owner" : "mkousheh",
								"group" : "mkousheh",
								"source" : { "Fn::Sub" : "https://s3.amazonaws.com/${ConfigBucket}/ecs/ssh-keys/rsa-key-mkousheh.pub" }
							},
							"/home/mukadder/.ssh/authorized_keys" : {
								"mode" : "000600",
								"owner" : "mukadder",
								"group" : "mukadder",
								"source" : { "Fn::Sub" : "https://s3.amazonaws.com/${ConfigBucket}/ecs/ssh-keys/rsa-key-mukadder.pub" }
							},
							"/home/dhaywood/.ssh/authorized_keys" : {
								"mode" : "000600",
								"owner" : "dhaywood",
								"group" : "dhaywood",
								"source" : { "Fn::Sub" : "https://s3.amazonaws.com/${ConfigBucket}/ecs/ssh-keys/rsa-key-dhaywood.pub" }
							},
							"/var/kuali/README.txt" : {
								"content" : { "Fn::Join" : [ "\n", [
									"This directory contains the \"environment\" for each app to run in a docker container that it needs.",
									"This includes env-file, configuration files, keys, etc.",
                                    { "Fn::Sub" : "These are specific to the ${Landscape} landscape." }
								]]},
								"mode" : "000775",
								"owner" : "root",
								"group" : "root"
							},
							"/var/kuali/env.vars.sh" : {
								"content" : { "Fn::Join" : [ "\n", [
									"# Save a version of a properties file as a bash script that exports the properties as environment variables",
									"# The docker container will run this when it starts up from a mounted directory.",
									"",
									"getLineExport() {",
									"  local line=$(echo -n \"$1\" | xargs) # Use xargs to trim the line.",
									"  [ \"${line:0:1}\" == \"#\" ] && echo \"\" && return 0;",
									"  [ -z \"$line\" ] && echo \"\" && return 0;",
									"  echo \"export $line\"",
									"}",
									"",
									"[ ! -f $MOUNT_DIR ] && mkdir -p $MOUNT_DIR",
									"cd $MOUNT_DIR",
									"rm -f $EXPORT_FILE",
									"while read line ; do",
									"  expline=\"$(getLineExport \"$line\")\" &&",
									"  [ -n \"$expline\" ] &&",
									"  echo $\"$expline\" >> $EXPORT_FILE;",
									"done < $PROPERTIES_FILE"
								]]},
								"mode" : "000775",
								"owner" : "root",
								"group" : "root"
							}
						}

					},
					"runCommands" : {
						"commands" : {
							"01_get_configs_from_s3" : {
								"cwd" : "/var/kuali",
								"command" : { "Fn::Sub" : "aws s3 cp --recursive s3://kuali-research-ec2-setup/${Landscape}/ ." }
							},
							"02_set_core_environment_variables_script" : {
								"cwd" : "/var/kuali",
								"env" : {
									"PROPERTIES_FILE" : { "Fn::Sub" : "core/environment.variables.s3" },
									"MOUNT_DIR" : "core",
									"EXPORT_FILE" : "env.export.sh"
								},
								"command" : "source env.vars.sh"
							}
						}
					}
				}
			}
		},
        "MyMicroSecurityGroup" : {
            "Type" : "AWS::EC2::SecurityGroup",
            "Properties" : {
				"GroupDescription" : "Warrens security group for a test t2.micro ec2 instance",
                "GroupName" : "WarrensT2.micro.SG",
                "Tags" : [ { "Key" : "Name", "Value" : "buaws-wrh-ecs-ec2-test1.SG" } ],
                "SecurityGroupIngress" : [
					{
						"IpProtocol" : "tcp",
                        "FromPort" : "22",
                        "ToPort" : "22",
                        "CidrIp" : "0.0.0.0/0"
					}
				]
            }
        },
		"MyMicroProfile" : {
			"Type": "AWS::IAM::InstanceProfile",
            "Properties" : {
				"InstanceProfileName" : "Profile-for-MyMicroS3Role",
                "Path" : "/",
                "Roles" : [ { "Ref" : "MyMicroS3Role" } ]
			}
		},
		"MyMicroS3Role" : {
		    "Type" : "AWS::IAM::Role",
		    "Properties" : {
				"RoleName" : "MyMicroS3Role",
		        "AssumeRolePolicyDocument" : {
					"Statement": [{
						"Effect" : "Allow",
						"Principal" : {
							"Service" : [ "ec2.amazonaws.com" ]
						},
                        "Action" : [ "sts:AssumeRole" ]
					}]
		        },
                "Path" : "/",
                "ManagedPolicyArns" : [
					"arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess"
				]
		    }
		}
	},

	"Outputs" : {
		"PrivateIP" : {
		    "Value" : {"Fn::GetAtt" : [ "MyMicro", "PrivateIp"]}
		},
		"PublicIP" : {
		    "Value" : {"Fn::GetAtt" : [ "MyMicro", "PublicIp"]}
		}
	}
}
