{
	"AWSTemplateFormatVersion" : "2010-09-09",

	"Description" : "Test for basic java lambda function resource from utils.template.",

	"Parameters" : {
		"Landscape" : {
			"Type" : "String",
			"AllowedValues" : [ "sb", "ci", "qa", "stg", "prod" ],
			"ConstraintDescription" : "This parameter is restricted to the following values: sb, ci, qa, stg, prod",
			"Default" : "sb"
		},
		"GlobalPrefix" : {
		    "Type" : "String",
			"Description": "A common value that all resources in this template will prefix to their name to establish a bundling through naming convention. If a nested stack, this will most likely be the name of the top-most stack.",
			"Default" : "ECS-test"
		}
	},

	"Resources" : {
		"Utils" : {
		    "Type" : "AWS::CloudFormation::Stack",
		    "Properties" : {
		        "TemplateURL" : "https://s3.amazonaws.com/kuali-research-ec2-setup/ecs/cloudformation/lambda.template",
                "Parameters" : {
					"GlobalPrefix": { "Ref" : "GlobalPrefix" }
				}
		    }
		},

        "EnvironmentLookup" : {
            "Type" : "Custom::Functions",
            "Properties" : {
				"ServiceToken" : {"Fn::GetAtt" : [ "Utils", "Outputs.JavaHelperFunctionArn"]},
				"task" : "get.container.env.vars",
				"region" : "${AWS::Region}",
                "s3bucket" : "kuali-research-ec2-setup",
				"s3file" : { "Fn::Sub" : "${Landscape}/core/environment.variables.s3" },
				"outputmask" : "{class: edu.bu.ist.apps.aws.task.BasicOutputMask, parameters: { fieldsToMask: { full: [], logs: [AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY, MONGO_PASS, SERVICE_SECRET_1]}}}"
			}
        }    
	},

	"Outputs" : {
        "LookupResult1" : {
            "Value" : {"Fn::GetAtt" : [ "EnvironmentLookup", "result.map1.key1"]}
        },
		"SingleLookupResult1" : {
		    "Value" : {"Fn::GetAtt" : [ "EnvironmentLookup", "map1.key1"]}
		},
        "LookupResult2" : {
            "Value" : {"Fn::GetAtt" : [ "EnvironmentLookup", "result.map1.key3.map2.key1"]}
        },
		"SingleLookupResult2" : {
		    "Value" : {"Fn::GetAtt" : [ "EnvironmentLookup", "map1.key3.map2.key1"]}
		}
	}
}
