<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <body>
  	<div th:if="${!deactivate}" th:fragment="advanced" >
  	
	    <div class="kuali-field-wrapper">	    
	      <div class="fieldLabel">ADVANCED</div>
	      <div class="field">
	     	<input
	     		type="checkbox"
	        	onclick="sendData();" 
	     		th:name="${ParameterName} ?: 'value'"
	     		th:checked="${ParameterValue=='enabled'}" >
	      </div>
	    </div>
	    
	  	<div class="kuali-field-wrapper" th:if="${ParameterValue=='enabled'}">
	  		<div class="fieldLabel">&nbsp;</div>
			<div class="field" style='padding-left:30px;'>
			  <div th:insert="${ksbrlEnum.getViewName()} :: ${ksbrlEnum.getTemplateSelector()} (${ksbrlEnum.name()}, ${ksbrlValue})"></div>       	
			</div>
	  	</div>
	    
	  	<div class="kuali-field-wrapper" th:if="${ParameterValue=='enabled'}">
	  		<div class="fieldLabel">&nbsp;</div>
			<div class="field" style='padding-left:30px;'>
			  <div th:insert="${manualEnum.getViewName()} :: ${manualEnum.getTemplateSelector()} (${manualEnum.name()}, ${manualValue})"></div>       	
			</div>
	  	</div>
  	</div> 
  </body>
</html>