<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <body>
    <div th:if="${!deactivate}" th:fragment="baseline (ParameterName, ParameterValue)" class="kuali-field-wrapper">
	    <div th:attr="style=${disable_baseline} ? 'color:#AAAAAA' : _">Baseline Landscape:</div>
        <select 
        	th:name="${ParameterName} ?: 'value'" 
        	th:disabled="${disable_baseline}"
        	id="baseline" 
        	onchange="sendData();" 
        	style="margin-top: 5px; margin-bottom: 5px;" >
        	<optgroup>
	          <option 
	          	th:each="landscape : ${landscapes}" 
	          	th:text="${landscape.getId()}"
	          	th:value="${landscape.getId()}" 
	          	th:selected="${ParameterValue==landscape.getId()}"></option>        	
        	</optgroup>
        </select>
  	</div>
  </body>
</html>