<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>
	<div  th:if="${!deactivate}" th:fragment="build-type" class="kuali-field-wrapper">
		<div th:if="${allowFeature}">
			<input 
				type="radio" 
				value="feature" 
				onchange="toggleBuildType();"
				th:name="${ParameterName} ?: 'value'" 
				th:checked="${ParameterValue=='feature'}" >
			<label>
				Feature
			</label>
		</div>
		<div th:if="${allowPreRelease}">
			<input
				type="radio" 
				value="pre-release" 
				onchange="toggleBuildType();"
				th:name="${ParameterName} ?: 'value'" 
				th:checked="${ParameterValue=='pre-release'}" >
			<label>
				Pre-release
			</label>
		</div>
		<div th:if="${allowRelease}">
			<input
				type="radio" 
				value="release" 
				onchange="toggleBuildType();"
				th:name="${ParameterName} ?: 'value'" 
				th:checked="${ParameterValue=='release'}" >
			<label>
				Release
			</label>
		</div>
		<!-- This hidden input field will get set by a script from another active choices field that contains the function
		     toggleBuildType. This function rotates the description for the selected radio button AND sets this hidden
		     field with the value of the selected radio button. The radio buttons themselves cannot have the name="value"
		     attribute on them because there's already one such set of radio buttons on the form, and you cannot have 
		     another because, having the same name attribute ("value"), they would effectively become one radio button set.
		     This method is a workaround for that. NOTE: The script mentioned above cannot be included directly here
		     because that active choices plugin "sanitizes" it out if its accompanied by reactive reference fields.
	    -->
		<input type=hidden name="value" th:value="${ParameterValue}" id="_build_type">
		<div>
			<div style="font-style: italic; font-size:14px; padding-top:5px;">
				<div id="_feature" th:attr="style=${ParameterValue=='feature'} ? _ : 'display:none'">
					Feature build:
					<ul style="margin:5px;">
						<li>Full maven build (any feature branch)</li>
						<li>Push of docker image to FEATURE repository in docker registry</li>
						<li>Deployment of docker image to selected stack</li>
					</ul>
				</div>
				<div id="_pre-release"  th:attr="style=${ParameterValue=='pre-release'} ? _ : 'display:none'">
					Pre-release:
					<ul style="margin:5px;">
						<li>Full maven build (bu-master branch)</li>
						<li>Push of docker image to RELEASE repository in docker registry</li>
						<li>Deployment of docker image to selected stack</li>
					</ul>
				</div>
				<div id="_release" th:attr="style=${ParameterValue=='release'} ? _ : 'display:none'">
					Release:
					<ul style="margin:5px;">
						<li>NO maven build</li>
						<li>Deployment of last pre-released docker image to selected stack</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>