<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <body>
  	<div th:if="${deactivate} ? false : ${include}" th:fragment="ecr-images-centos-java-tomcat" >
	  <div th:if="${RenderName}" style='padding-bottom:5px;'>[[${ParameterName}]]:</div>
	  <div th:if="${RenderDescription}" style='padding-bottom:5px;'>Current registry content for [[${RepositoryName}]]:</div>
	  <ul style="font-family:monospace; padding-bottom:5px;">
	  	<li th:each="imageVersion : ${ImageVersions}">[[${imageVersion.getImage()}]]</li>
	  </ul>
  	</div> 	
  </body>
</html>