<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <body>
  	<div th:if="${deactivate} ? false : ${include}" th:fragment="ecr-tags" >
	  <div th:if="${RenderName}" style='padding-bottom:5px;'>[[${ParameterName}]]:</div>
	  <div th:if="${RenderDescription}" style='padding-bottom:5px;'>Current registry content for [[${RepositoryName}]]:</div>
	  <select th:name="${ParameterName} ?: 'value'" style="width: 400px; font-family:monospace">
  		<option
  			th:if="not ${#strings.isEmpty(image.imageTag())}"
  			th:each="image : ${Images}" 
  			th:text="${image.imageTag()}" 
  			th:value="${image.imageTag()}"
  			th:selected="${SelectedTag==image.imageTag()}">		  		
  		</option>
	  </select>
  	</div> 	
  </body>
</html>