<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <body>
    <div th:if="${!deactivate}" th:fragment="ecr-url">
	  <div th:if="${RenderName}" style='padding-bottom:5px;'>[[${ParameterName}]]:</div>
	  <div th:if="${RenderDescription}" style='padding-bottom:5px;'>The url of the docker registry:</div>
      <div>
        <input 
        	type="text" 
        	id="landscape" 
        	maxlength="12" 
        	style="width:400px;"
        	th:name="${ParameterName} ?: 'value'" 
        	th:value="${ParameterValue} ?: _" />
      </div>
  	</div>
  </body>
</html>