<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <body>
  	<div th:if="${deactivate} ? false : ${include}" th:fragment="git-refs" >
	  <div th:if="${RenderName}" style='padding-bottom:5px;'>[[${ParameterName}]]:</div>
	  <div th:if="${RenderDescription}" style='padding-bottom:5px;'>All [[$GitRef]] references from the remote github repository:</div>
	  <select th:name="${ParameterName} ?: 'value'" style="width: 400px;">
  		<option
  			th:each="ref : ${GitRefs}" 
  			th:text="${ref}" 
  			th:value="${ref}"
  			th:selected="${SelectedRef==ref}">		  		
  		</option>
	  </select>
  	</div> 	
  </body>
</html>