<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <body>
  
  	<div th:if="${deactivate} ? false : ${include}" th:fragment="rds-warning" class="kuali-field-wrapper">
	  	<div class="fieldLabelWarning">&nbsp;</div>
  		<div class="fieldWarning" style='padding-left:30px;'>WARNING: [[${rdsWarning}]]</div>
  	</div>
  
  	<div th:if="${!deactivate}" th:fragment="rds-source" class="kuali-field-wrapper">
 		<div class="fieldLabel">RDS INSTANCE:</div>
  		<div class="field">
	        <input 
	        	type="radio" 
	        	value="instance" 
	        	onchange="sendData();" 
	        	th:name="${ParameterName} ?: 'value'" 
	       		th:checked="${ParameterValue=='instance'}">
	        <label>EXISTING: <i>Use an existing RDS instance</i></label>
	        <br>
	    </div>
	    <div class="fieldLabel" style="clear:both;padding:0px; padding-top:5px;">Or...</div>
	    <div class="field" style="padding-left:20px;"><div class="kuali-field-underline">Create RDS instance from snapshot</div></div>
	    <div class="kuali-field-wrapper" style="padding-top:0px;">
	 		<div class="fieldLabel">RDS SNAPSHOT:</div>
	  		<div class="field">
		        <input 
		        	type="radio" 
		        	value="owned-snapshot" 
		        	onchange="sendData();" 
		        	th:name="${ParameterName} ?: 'value'" 
		         	th:disabled="${instance_only}"
		       		th:checked="${ParameterValue=='owned-snapshot'}">
		        <label th:attr="style=${instance_only} ? 'color:#AAAAAA' : _">RECENT: <i>The origin rds db exists</i></label>  		
		        <br>
		        <input 
		        	type="radio" 
		        	value="shared-snapshot" 
		        	onchange="sendData();" 
		        	th:name="${ParameterName} ?: 'value'" 
		         	th:disabled="${instance_only}"
		       		th:checked="${ParameterValue=='shared-snapshot'}">
		        <label th:attr="style=${instance_only} ? 'color:#AAAAAA' : _">SHARED: <i>From a different account</i></label>  		
		        <br>
		        <input 
		        	type="radio" 
		        	value="orphaned-snapshot" 
		        	onchange="sendData();" 
		        	th:name="${ParameterName} ?: 'value'" 
		         	th:disabled="${instance_only}"
		       		th:checked="${ParameterValue=='orphaned-snapshot'}">
		        <label th:attr="style=${instance_only} ? 'color:#AAAAAA' : _">ORPHANED: <i>The origin rds db is gone</i></label>
			</div>		    
	    </div>
  	</div>

  	<div th:if="${deactivate} ? false : ${include}" th:fragment="rds-instances-by-landscape" class="kuali-field-wrapper">
  		<div class="fieldLabel">&nbsp;</div>
		<div class="field" style='padding-left:30px;'>
		  <div style='padding-bottom:5px;'>Select an existing RDS instance:</div>
		  <select th:name="${ParameterName} ?: 'value'" id="rds-landscape" th:disabled="${deactivate_landscape}" onchange="sendData();">
		  	<option 
		       th:selected="${!ParameterValue}"><- Select One -></option>
		     <option 
		     	th:each="rdsInstance : ${rdsInstances}" 
		     	th:text="${rdsInstance.getLandscape()}"
		     	th:value="${rdsInstance.getArn()}" 
		     	th:selected="${ParameterValue==rdsInstance.getArn()}">
		     </option>
		  	</optgroup>
		  </select>
		  <!-- 
		  <label th:if="${ParameterValue} ? ${ParameterValue=='none'} : true" th:attr="style=${deactivate_landscape} ? 'color:#AAAAAA' : _">
		  	Use An existing RDS instance
		  </label>
		  -->
		</div>      
  	</div>
  	
  	<div th:if="${deactivate} ? false : ${include}" th:fragment="rds-instances-by-baseline" class="kuali-field-wrapper" style="padding-top:0px;">
	  	<div class="fieldLabel">&nbsp;</div>
		<div class="field" style='padding-left:30px;'>
		  <div style='padding-bottom:5px;'>RDS instance by baseline:</div>
		  <select th:name="${ParameterName} ?: 'value'" id="rds-instance" onchange="sendData();" >
		  	<option 
		       th:selected="${!ParameterValue}"><- Select One -></option>
		  	<optgroup 
		  		th:each="baselineList : ${rdsArnsByBaseline.entrySet()}" 
		  		th:label="${'Baseline: ' + baselineList.getKey().getId()}">
		  		<option
		  			th:each="rdsInstance : ${baselineList.getValue()}" 
		  			th:text="${rdsInstance.getLandscape()}" 
		  			th:value="${rdsInstance.getArn()}"
		  			th:selected="${ParameterValue==rdsInstance.getArn()}">		  		
		  		</option>
		  	</optgroup>
		  </select>
		</div> 	
  	</div>
  	
	<div th:if="${deactivate} ? false : ${include}" th:fragment="rds-snapshot" class="kuali-field-wrapper" style="padding-top:0px;">
	  	<div class="fieldLabel">&nbsp;</div>
		<div class="field" style='padding-left:30px;'>
		  <div style='padding-bottom:5px;'>Snapshot:</div>
		  <select th:name="${ParameterName} ?: 'value'" id="rds-snapshot" onchange="sendData();" >
		  	<optgroup label="Create new snapshot">
		  	 <option value="none" th:selected="${ParameterValue=='new'}">New snapshot</option>
		  	</optgroup>
		  	<optgroup label="Manual snapshots:">
		     <option 
		     	th:each="snapshot : ${rdsInstance.getManuallyCreatedSnapshots()}" 
		     	th:text="${snapshot.getCreationTime()}"
		     	th:value="${snapshot.getArn()}" 
		     	th:selected="${ParameterValue==snapshot.getArn()}">
		     </option>
		  	</optgroup>
		  	<optgroup label="Automated snapshots:">
		     <option 
		     	th:each="snapshot : ${rdsInstance.getAutomaticallyCreatedSnapshots()}" 
		     	th:text="${snapshot.getName()}"
		     	th:value="${snapshot.getArn()}" 
		     	th:selected="${ParameterValue==snapshot.getArn()}">
		     </option>
		  	</optgroup>
		  </select>
		</div>
  	</div>
  	
	<div th:if="${deactivate} ? false : ${include}" th:fragment="rds-snapshot-shared" class="kuali-field-wrapper" style="padding-top:0px;">
	  	<div class="fieldLabel">&nbsp;</div>
		<div class="field" style='padding-left:30px;'>
		  <div style='padding-bottom:5px;'>Snapshot:</div>
		  <select th:name="${ParameterName} ?: 'value'" id="rds-snapshot-shared" onchange="sendData();" >
		  	<option 
		       th:selected="${!ParameterValue}"><- Select One -></option>
		  	<option 
		       th:each="snapshot : ${sharedSnapshots}" 
		       th:text="${snapshot.getName()}"
		       th:value="${snapshot.getArn()}" 
		       th:selected="${ParameterValue==snapshot.getArn()}">
		    </option>	  			    	
		  </select>
  		</div>
  	</div>
  	
	<div th:if="${deactivate} ? false : ${include}" th:fragment="rds-snapshot-orphans" class="kuali-field-wrapper" style="padding-top:0px;">
	  	<div class="fieldLabel">&nbsp;</div>
		<div class="field" style='padding-left:30px;'>
		  <div style='padding-bottom:5px;'>Snapshot:</div>
		  <select th:name="${ParameterName} ?: 'value'" id="rds-snapshot-orphans" onchange="sendData();" >
		  	<option 
		       th:selected="${!ParameterValue}"><- Select One -></option>
		    <optgroup 
		    	th:each="baselineList : ${snapshotArnsByBaseline.entrySet()}"
		    	th:label="${'Baseline: ' + baselineList.getKey().getId()}">
			  	<option 
			       th:each="snapshot : ${baselineList.getValue()}" 
			       th:text="${snapshot.getName()}"
			       th:value="${snapshot.getArn()}" 
			       th:selected="${ParameterValue==snapshot.getArn()}">
			    </option>		  			    	
		    </optgroup>
		  </select>
  		</div>
  	</div>
  	
  	
  </body>
</html>